*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button,
a {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  /* Proportions */
  --no-amount: 0px;
  --least-amount: 5.5px;
  --less-amount: 11px;
  --default-amount: 16.5px;
  --more-amount: 22px;
  --most-amount: 27.5px;
  --full-amount: 33px;

  --smallest-size: 10px;
  --smaller-size: 14px;
  --small-size: 24px;
  --default-size: 32px;
  --large-size: 42px;
  --larger-size: 52px;
  --largest-size: 64px;

  --lightest-background-color: rgb(255, 255, 255);
  --lighter-background-color: rgb(245, 245, 245);
  --light-background-color: rgb(220, 220, 220);
  --default-background-color: rgb(195, 195, 195);
  --dark-background-color: rgb(170, 170, 170);
  --darker-background-color: rgb(145, 145, 145);
  --darkest-background-color: rgb(120, 120, 120);

  --lightest-border-color: rgb(240, 240, 240);
  --lighter-border-color: rgb(215, 215, 215);
  --light-border-color: rgb(190, 190, 190);
  --default-border-color: rgb(165, 165, 165);
  --dark-border-color: rgb(140, 140, 140);
  --darker-border-color: rgb(115, 115, 115);
  --darkest-border-color: rgb(90, 90, 90);

  --lightest-foreground-color: rgb(153, 153, 153);
  --lighter-foreground-color: rgb(128, 128, 128);
  --light-foreground-color: rgb(102, 102, 102);
  --default-foreground-color: rgb(76, 76, 76);
  --dark-foreground-color: rgb(51, 51, 51);
  --darker-foreground-color: rgb(25, 25, 25);
  --darkest-foreground-color: rgb(0, 0, 0);

  --black-color: rgb(17, 17, 17);
  --near-black-color: rgb(34, 34, 34);
  --white-color: rgb(255, 255, 255);
  --pink-color: rgb(235, 111, 139);
  --primary-color: rgb(0, 137, 53);
  --blue-color: rgb(65, 83, 175);
  --turquoise-color: rgb(64, 255, 253);
  --lime-color: rgb(231, 251, 76);
  --secondary-color: rgb(200, 200, 200);
  --success-color: rgb(98, 196, 116);
  --info-color: rgb(15, 193, 223);
  --error-color: rgb(227, 24, 55);
  --warning-color: rgb(255, 209, 0);

  /* Text Size */
  --smallest-text-size:8px;
  --smaller-text-size: 10px;
  --small-text-size: 12px;
  --default-text-size: 13px;
  --large-text-size: 18px;
  --larger-text-size: 24px;
  --largest-text-size: 32px;

  /* Text Weight */
  --least-text-weight: 300;
  --less-text-weight: 400;
  --default-text-weight: 500;
  --more-text-weight: 600;
  --most-text-weight: 700;

  /* Shadows */
  --lowest-depth-shadow: inset 0 -20px 60px rgb(0, 0, 0, 0.1);
  --lower-depth-shadow: inset 0 2px 5px rgb(0, 0, 0, 0.1);
  --low-depth-shadow: inset 0 1px 3px rgb(0, 0, 0, 0.1);
  --surface-depth-shadow: none;
  --high-depth-shadow: 0 1px 3px rgb(0, 0, 0, 0.05);
  --higher-depth-shadow: 0 4px 27px rgb(0, 0, 0, 0.16);
  --highest-depth-shadow: 0 10px 62px rgb(0, 0, 0, 0.1);

  /* Layout */
  --lowest-depth: -300;
  --lower-depth: -200;
  --low-depth: -100;
  --surface-depth: 0;
  --high-depth: 100;
  --higher-depth: 200;
  --highest-depth: 300;

}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-and-down {
  from {
    opacity: 0;
    transform: scale(0.97) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@keyframes fade-out-and-up {
  from {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
  to {
    opacity: 0;
    transform: scale(0.97) translateY(-10px);
  }
}

@keyframes hide {
  from {
    display: initial;
  }
  to {
    display: none;
  }
}

@keyframes show {
  from {
    display: none;
  }
  to {
    display: initial;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
